* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 44px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 108px;
  height: 30px;
}
.nav .nav-menu {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  list-style: none;
}
.nav a {
  font-family: "PT Sans";
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
}
.nav a:hover {
  color: #5d5d5d;
}

.search {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.search img {
  width: 24px;
  height: 24px;
}
.search input {
  border: none;
  border-bottom: 1px solid gray;
  height: 24px;
}
.search input:hover {
  border-color: gray;
}

.lang {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
}
.lang span {
  margin-right: 10px;
}
.lang img {
  margin: auto;
}

.bg-img {
  background-image: url(../img/bg-img1.jpg);
  width: 1920px;
  height: 750px;
  margin: auto;
  margin-bottom: 150px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 113px 312px;
}
.main .main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.main .main-text span {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
  color: #fff;
}
.main .main-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 60px;
}
.main .main-text button {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
}
.main .main-btn {
  display: flex;
  margin-right: 15px;
  width: 161px;
  height: 30px;
}
.main .main-btn a {
  text-decoration: none;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  margin-right: 15px;
}
.main .main-btn a:hover {
  color: #e5e5e5;
}
.main .main-btn img {
  align-items: center;
}
.main .main-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.main .main-blocks .main-block {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "PT Sans";
  border-radius: 20px;
  padding: 30px 35px;
  background-color: #5DB7DE;
  color: #fff;
  width: 306px;
  height: 250px;
}
.main .main-blocks .block-title {
  margin-bottom: 130px;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.services h2 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333;
  margin-bottom: 60px;
}
.services .services-sources .services-source {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 306px;
  height: 67px;
  font-family: "PT Sans";
}
.services .services-sources .services-source a {
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3d348b;
}
.services .services-sources .services-source .sources-title_1 {
  margin-right: 10px;
  width: 306px;
  height: 67px;
  margin: auto;
}
.services .services-sources .services-source .sources-title {
  margin-right: 10px;
  width: 306px;
  height: 45px;
  margin: auto;
}
.services .services-sources .services-source .services-btn {
  margin: auto;
}
.services .services-sources .services-source .services-btn button {
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  width: 46px;
  height: 34px;
  background-color: #5DB7DE;
  color: #fff;
  transition: all 0.3s;
}
.services .services-sources .services-source .services-btn button:hover {
  background-color: #408cac;
  transition: all 0.3s;
}
.services .services-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.services .services-blocks .services-block {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "PT Sans";
  border-radius: 20px;
  padding: 30px 35px;
  background-color: #3D348B;
  color: #fff;
  width: 416px;
  height: 223px;
  flex-direction: column;
}
.services .services-blocks .services-block .block-title {
  margin-bottom: 130px;
}
.services .services-blocks .services-block .block-text {
  align-self: flex-start;
}

.bg-gray {
  background-color: #f3f3f7;
  width: 1920px;
  height: 876px;
  margin: auto;
  margin-bottom: 150px;
}
.bg-gray h2 {
  margin-top: 107px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333;
  margin-bottom: 60px;
}
.bg-gray .about-company {
  display: flex;
  justify-content: space-between;
}
.bg-gray .about-company .abc-items {
  display: flex;
  justify-content: space-between;
}
.bg-gray .about-company .about-company_title {
  margin-right: 134px;
  width: 636px;
  height: 550px;
}
.bg-gray .about-company .about-company_title p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin-bottom: 16px;
}
.bg-gray .about-company .about-company_title ul {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
}
.bg-gray .about-company .about-company_title ul li {
  margin-bottom: 16px;
}
.bg-gray .about-company .about-company_blocks {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 24px;
}
.bg-gray .about-company .about-company_blocks .about-company_block {
  font-family: "PT Sans";
  border-radius: 20px;
  padding: 30px 35px;
  background-color: #5DB7DE;
  color: #fff;
  width: 526px;
  height: 170px;
  margin-bottom: 103px;
}
.bg-gray .about-company .about-company_blocks .about-company_block span {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.bg-gray .about-company .about-company_blocks .about-company_block p {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin-top: 40px;
}
.bg-gray .about-company .about-company_blocks .block-img {
  width: 526px;
  height: 350px;
}

.news {
  margin-bottom: 150px;
  font-family: "PT Sans";
}
.news .news-top {
  display: flex;
  justify-content: space-between;
}
.news .news-top .news-title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333;
}
.news .news-top .news-src {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .news-top .news-src a {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d348b;
  text-decoration: none;
  align-items: center;
}
.news .news-top .news-src a img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.news .news-blocks {
  display: flex;
  justify-content: space-between;
  row-gap: 24px;
}
.news .news-blocks .news-block {
  margin-right: 24px;
}
.news .news-blocks span {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  color: #333;
}
.news .news-blocks p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333;
  margin-top: 18px;
}
.news .news-blocks .news-img {
  margin-bottom: 15px;
}
.news .news-blocks .news-img img {
  margin-bottom: 25px;
  width: 306px;
  height: 214px;
}
.news .news-blocks .news-img span {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
}

.cont-color {
  margin: auto;
  background-color: #574ea6;
  width: 1920px;
  height: 120px;
}
.cont-color .contacts {
  display: flex;
  justify-content: space-between;
}
.cont-color .contacts a {
  display: flex;
  font-family: "PT Sans";
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  align-items: center;
}
.cont-color .contacts a .phoneicon {
  width: 22.5px;
  height: 22.5px;
}
.cont-color .contacts a .mailicon {
  width: 25px;
  height: 20px;
}
.cont-color .contacts a img {
  margin-right: 20px;
}
.cont-color .contacts ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.cont-color .contacts ul li {
  margin-right: 30px;
}
.cont-color .contacts ul li img {
  width: 26px;
  height: 20px;
  margin-right: 20px;
}

.bg-purp {
  background-color: #3D348B;
  width: 1920px;
  margin: auto;
}
.bg-purp .footer .footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.bg-purp .footer .footer-items .list-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 60px;
}
.bg-purp .footer .footer-items li {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  list-style: none;
  margin-bottom: 20px;
}
.bg-purp .footer .footer-items li a {
  text-decoration: none;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  list-style: none;
}
.bg-purp .footer .end {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.bg-purp .footer .end span {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.steps {
  width: 1920px;
  height: 68px;
  background-color: #f3f3f7;
  margin: auto;
  display: flex;
}
.steps ul {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding-left: 312px;
}
.steps ul li {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  margin-right: 40px;
}
.steps ul li a {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  margin-right: 40px;
  text-decoration: none;
}
.steps ul li img {
  margin-left: 15px;
}

.documents {
  margin: auto;
  width: 856px;
  height: 1503px;
}
.documents .doctitle h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: #333;
  margin-top: 76px;
  margin-bottom: 60px;
}
.documents .firstpart {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin-bottom: 60px;
}
.documents .firstpart p {
  margin-bottom: 20px;
}
.documents .firstpart li {
  margin-bottom: 20px;
  list-style-position: inside;
}
.documents .secondpart {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin-bottom: 60px;
}
.documents .secondpart p {
  margin-bottom: 20px;
}
.documents .secondpart li {
  margin-bottom: 20px;
  list-style-position: inside;
}
.documents .thirdpart {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin-bottom: 60px;
}
.documents .thirdpart p {
  margin-bottom: 20px;
}
.documents .thirdpart li {
  margin-bottom: 20px;
  list-style-position: inside;
}

.sign-up {
  margin: auto;
  width: 856px;
  height: 1503px;
  margin-bottom: 150px;
}
.sign-up .signtitle h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: #333;
  margin-top: 77px;
}
.sign-up .inputs {
  width: 856px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}
.sign-up .inputs .input {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 24px;
}
.sign-up .inputs .input p {
  margin-bottom: 20px;
}
.sign-up .inputs .input input {
  border: solid 1px;
  border-radius: 5px;
  width: 416px;
  height: 35px;
  padding: 10px 0;
  margin-right: 24px;
}
.sign-up .inputs .input select {
  border: solid 1px;
  width: 416px;
  height: 35px;
  border-radius: 5px;
  margin-right: 24px;
}
.sign-up .inputs .input textarea {
  border: solid 1px;
  width: 416px;
  height: 100px;
  border-radius: 5px;
  margin-right: 24px;
}
.sign-up .inputs .file {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
}
.sign-up .inputs .file p {
  margin-bottom: 28px;
}
.sign-up .inputs .file input {
  display: none;
}
.sign-up .inputs .file label {
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #5DB7DE;
  color: #fff;
  transition: all 0.3s;
  margin-right: 20px;
}
.sign-up .inputs .file label:hover {
  background-color: #408cac;
  transition: all 0.3s;
}
.sign-up .radio-btns {
  font-family: "PT Sans";
  display: grid;
  margin-bottom: 55px;
}
.sign-up .radio-btns h2 {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #333;
  margin-bottom: 40px;
}
.sign-up .radio-btns label {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  display: inline-flex;
  gap: 8px;
  margin-bottom: 15px;
}
.sign-up .contact-info h2 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #333;
  margin-bottom: 40px;
}
.sign-up .contact-info .c-inputs {
  width: 856px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}
.sign-up .contact-info .c-inputs .c-input {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 24px;
}
.sign-up .contact-info .c-inputs .c-input p {
  margin-bottom: 20px;
}
.sign-up .contact-info .c-inputs .c-input input {
  border: solid 1px;
  border-radius: 5px;
  width: 416px;
  height: 35px;
  padding: 10px 0;
  margin-right: 24px;
}
.sign-up .send {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 150px;
}
.sign-up .send a {
  font-family: "PT Sans";
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d348b;
  text-decoration: none;
  align-items: center;
}
.sign-up .send a img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

/*input{
                border: none;
                border-radius: 10px;
                padding: 8px 10px;
                background-color: $blue;
                color: #fff;
                transition: all 0.3s;

                &:hover{
                    background-color: #408cac;
                    transition: all 0.3s;
                }
            }*//*# sourceMappingURL=styleSCSS.css.map */