$blue: #5DB7DE;
$parp: #3D348B;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 44px 0;
}





.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 108px;
        height: 30px;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        list-style: none;
    }
        a{
        font-family: 'PT Sans';
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333;
        }
        a:hover{
    color: #5d5d5d;
    }
}    


.search{
    column-gap: 20px;

    img{
    width: 24px;
    height: 24px;
    }
    input{
    border: none;
    border-bottom: 1px solid gray;
    height: 24px;
    }
    input:hover{
    border-color: gray;
}
}


.lang{
    width: 40px;
    height: 22px;
    display: flex;
    align-items: center;

    span{
        margin-right: 10px;
    }
    img{
        margin: auto; 
    }
}







.bg-img{
    background-image: url(../img/bg-img1.jpg);
    width: 1920px;
    height: 750px;
    margin: auto;
    margin-bottom: 150px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 113px 312px;
    

    .main-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        
        span{
            font-family:'PT Sans';
            font-weight: 700;
            font-size: 50px;
            line-height: 140%;
            color: #fff;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #fff;
            margin-top: 40px;
            margin-bottom: 60px;
        }
        button{
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #fff;
            border: none;
            background-color: transparent;
        }
    }    

    .main-btn{
        display: flex;
        margin-right: 15px;
        width: 161px;
        height: 30px;

        a{
            text-decoration: none;
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #fff;
            align-items: center;
            margin-right: 15px;
        }
        a:hover{
            color: #e5e5e5;
        }
        img{
            align-items: center;
        }
    }


    .main-blocks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        .main-block{
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: 'PT Sans';
            border-radius: 20px;
            padding: 30px 35px;
            background-color: $blue;
            color: #fff;
            width: 306px;
            height: 250px;
        }
        .block-title{
            margin-bottom: 130px;
        }
        
    }
}

.services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    h2{
        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: #333;
        margin-bottom: 60px;
    }

    .services-sources{

        .services-source{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            width: 306px;
            height: 67px;
            font-family: 'PT Sans';
            a{
                    text-decoration: none;
                    border-bottom: 1px dashed;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #3d348b;
                }

            .sources-title_1{
                margin-right: 10px;
                width: 306px;
                height: 67px;
                margin: auto;
            }    
            .sources-title{
                margin-right: 10px;
                width: 306px;
                height: 45px;
                margin: auto; 
            }

        .services-btn{      
            margin: auto;

                button{
                    border: none;
                    border-radius: 10px;
                    padding: 8px 10px;
                    width: 46px;
                    height: 34px;
                    background-color: $blue;
                    color: #fff;
                    transition: all 0.3s;
                    
                    
                    &:hover{
                        background-color: #408cac;
                        transition: all 0.3s;
                    }
                }
            }
        }   
    }
    
    .services-blocks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        .services-block{
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: 'PT Sans';
            border-radius: 20px;
            padding: 30px 35px;
            background-color: $parp;
            color: #fff;
            width: 416px;
            height: 223px;  
            flex-direction: column;
    
        .block-title{
            margin-bottom: 130px;
        }
   
        .block-text{
            align-self: flex-start;
        }
        }

        
    }
}



.bg-gray{
    background-color: #f3f3f7;
    width: 1920px;
    height: 876px;
    margin: auto;
    margin-bottom: 150px;
    
    h2{
        margin-top: 107px;
        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: #333;
        margin-bottom: 60px;
    }

    .about-company{
        display: flex;
        justify-content: space-between;

        .abc-items{
            display: flex;
            justify-content: space-between;
        }

        .about-company_title{
            margin-right: 134px;
            width: 636px;
            height: 550px;
            
            p{
                font-family: 'PT Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #333;
                margin-bottom: 16px;
            }
            ul{
                font-family: 'PT Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #333;
                
                li{
                    margin-bottom: 16px;
                }
            }
        }
        .about-company_blocks{
            display: grid;
            grid-template-columns: repeat( 1fr);
            gap: 24px;
            
            .about-company_block{
                font-family: 'PT Sans';
                border-radius: 20px;
                padding: 30px 35px;
                background-color: $blue;
                color: #fff;
                width: 526px;
                height: 170px;
                margin-bottom: 103px;  
            

                span{
                    font-family: 'PT Sans';
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 140%;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #fff;
                }
                p{
                    font-family: 'PT Sans';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 140%;
                    color: #fff;
                    margin-top: 40px;
                }
            } 
            .block-img{
                width: 526px;
                height: 350px;
            }
        }
    }
}


.news{
    margin-bottom: 150px;
    font-family: 'PT Sans';
    .news-top{
        display: flex;
        justify-content: space-between;

        .news-title{
            margin-bottom: 60px;
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            color: #333;
        }

        .news-src{
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                display: flex;
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #3d348b;
                text-decoration: none;
                align-items: center;

                img{
                    width: 30px;
                    height: 30px; 
                    margin-left: 15px;
                }
            }
        }
    }

    .news-blocks{
        display: flex;
        justify-content: space-between;
        row-gap: 24px;

        .news-block{
            margin-right: 24px;
        }
        span{
            font-weight: 700;
            font-size: 19px;
            line-height: 140%;
            color: #333;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #333; 
            margin-top: 18px;
        }

        .news-img{
            margin-bottom: 15px;

            img{
                margin-bottom: 25px;
                width: 306px;
                height: 214px;
            }
            span{
                font-weight: 700;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #333;
            }
        }
    }
}

.cont-color{
    margin: auto;
    background-color: #574ea6;
    width: 1920px;
    height: 120px; 
    
    .contacts{  
        display: flex;
        justify-content: space-between;
        
        a{
            display: flex;
            font-family: 'PT Sans';
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #fff;
            align-items: center;
            .phoneicon{
                width: 22.5px;
                height: 22.5px;
            }
            .mailicon{
                width: 25px;
                height: 20px;
            }
            img{
                margin-right: 20px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between; 
            list-style: none;

            li{
                margin-right: 30px;
                img{
                    width: 26px;
                    height: 20px; 
                    margin-right: 20px;
                }
            }
        }
    }
}

.bg-purp{
    background-color: $parp;
    width: 1920px;
    margin: auto;

    .footer{

        .footer-items{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 30px;
            

            .list-title{
                font-family: 'PT Sans';
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #fff; 
                list-style: none;
                margin-bottom: 30px;
                margin-top: 60px;
            }
            li{
                font-family: 'PT Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: #fff; 
                list-style: none;
                margin-bottom: 20px;

                a{
                    text-decoration: none;
                    font-family: 'PT Sans';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #fff; 
                    list-style: none;
                }
            }
        }
        .end{
            display: flex;
            justify-content: center;
            margin-top: 80px;

            span{
                font-family: 'PT Sans';
                font-weight: 700;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
            }
        }
    }
}    

















// PAGE 2


















.steps{
    width: 1920px;
    height: 68px;
    background-color: #f3f3f7;
    margin: auto;
    display: flex;
   

    ul{
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        padding-left: 312px;
        

        li{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;
            margin-right: 40px;

            a{
                font-family: 'PT Sans';
                font-weight: 700;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #333;
                margin-right: 40px;
                text-decoration: none;
            }
            

            img{
                margin-left: 15px;
            }
        }
    }
}

.documents{
    margin: auto;
    width: 856px;
    height: 1503px;
   

    .doctitle{
        h1{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            text-align: center;
            color: #333;
            margin-top: 76px;
            margin-bottom: 60px;
        }
    }
    .firstpart{
        font-family: 'PT Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333;
        margin-bottom: 60px;

        p{
            margin-bottom: 20px;
        }
        li{
            margin-bottom: 20px;
            list-style-position: inside;
        }
    }

    .secondpart{
        font-family: 'PT Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333;
        margin-bottom: 60px;

        p{
            margin-bottom: 20px;
        }

        li{
            margin-bottom: 20px;
            list-style-position: inside;
        }
    }

    .thirdpart{
        font-family: 'PT Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333;
        margin-bottom: 60px;

        p{
            margin-bottom: 20px;
        }
        li{
            margin-bottom: 20px;
            list-style-position: inside;
        }
    }
}













// PAGE 3













.sign-up{
    margin: auto;
    width: 856px;
    height: 1503px;
    margin-bottom: 150px;
    .signtitle{
        h1{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            text-align: center;
            color: #333;
            margin-top: 77px;
        }
    }

    .inputs{
        width: 856px;
        
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
        
        

        .input{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;
            margin-bottom: 24px;

            p{
                margin-bottom: 20px;
            }
            input{
                border: solid 1px;
                border-radius: 5px;
                width: 416px;
                height: 35px;
                padding: 10px 0;
                margin-right: 24px;
            }
            select{
                border: solid 1px;
                width: 416px;
                height: 35px;
                border-radius: 5px;
                margin-right: 24px;
            }
            textarea{
                border: solid 1px;
                width: 416px;
                height: 100px;
                border-radius: 5px;
                margin-right: 24px;
            }
        }

        .file{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;

            p{
                margin-bottom: 28px;
            }

            input{
                display: none;
            }
            label{
                border: none;
                border-radius: 10px;
                padding: 8px 10px;
                background-color: $blue;
                color: #fff;
                transition: all 0.3s;
                margin-right: 20px;
                
                &:hover{
                    background-color: #408cac;
                    transition: all 0.3s;
                }
            }
        }
    }

    .radio-btns{
        font-family: 'PT Sans';
        display: grid;
        margin-bottom: 55px;
        
        h2{
          font-weight: 700;
            font-size: 27px;
            line-height: 140%;
            color: #333; 
            margin-bottom: 40px;
        }
        label{
            font-weight: 700;
            font-size: 13px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;
            display: inline-flex;
            gap: 8px;
            margin-bottom: 15px;
        }
    }

    .contact-info{
        h2{
            font-family: 'PT Sans';
            font-weight: 700;
            font-size: 27px;
            line-height: 140%;
            color: #333; 
            margin-bottom: 40px;
          }

          .c-inputs{
            width: 856px;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 60px;  

            .c-input{
                font-family: 'PT Sans';
                font-weight: 700;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #333;
                margin-bottom: 24px;

                p{
                    margin-bottom: 20px;
                }
                input{
                    border: solid 1px;
                    border-radius: 5px;
                    width: 416px;
                    height: 35px;
                    padding: 10px 0;
                    margin-right: 24px;
                }
            }
          }
    }

    .send{
        display: flex;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 150px;
        a{
            font-family: 'PT Sans';
            display: flex;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #3d348b;
            text-decoration: none;
            align-items: center;
           
            img{
                width: 30px;
                height: 30px; 
                margin-left: 15px;
            }
        }
    }
}










/*input{
                border: none;
                border-radius: 10px;
                padding: 8px 10px;
                background-color: $blue;
                color: #fff;
                transition: all 0.3s;
                
                &:hover{
                    background-color: #408cac;
                    transition: all 0.3s;
                }
            }*/